APP_ENV=development

BETTER_AUTH_URL=http://localhost:2601
BETTER_AUTH_SECRET=dev-secret

DB_PATH=./dkrh.db

ADMIN_NAME=Administrator
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=VeryStrongPassword123!

VITE_API_URL=http://localhost:2601

DEPLOY_NAME=test
DEPLOY_HOST=test.test.test.test
DEPLOY_USER=root
DEPLOY_APP_DIR=/home/dkrh/project

HONO_DATABASE_URL=postgres://postgres:dewa@localhost:5432/dkrh_hono?sslmode=disable
HONO_API_PORT=2601

GO_DATABASE_URL=postgres://postgres:dewa@localhost:5432/dkrh_go?sslmode=disable
GO_API_PORT=2602

SPRING_HOST=localhost
SPRING_PORT=5432
SPRING_USER=postgres
SPRING_PASS=postgres
SPRING_DB=dev_spring
SPRING_API_PORT=2603

DOTNET_DATABASE_URL=Host=localhost;Port=5432;Database=dev_dotnet;Username=postgres;Password=postgres
DOTNET_API_PORT=2604

ELYSIA_DATABASE_URL=postgres://postgres:dewa@localhost:5432/dkrh_ely?sslmode=disable
ELYSIA_API_PORT=2605

RUST_DATABASE_URL=postgres://postgres:dewa@localhost:5432/dkrh_rust?sslmode=disable
RUST_PORT=2606

CPP_DATABASE_URL=postgresql://postgres:password@localhost:5432/dkrh
CPP_PORT=2607