APP_ENV=development

BETTER_AUTH_URL=http://localhost:2601
BETTER_AUTH_SECRET=dev-secret

DB_PATH=./dkrh.db

ADMIN_NAME=Administrator
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=VeryStrongPassword123!

VITE_API_URL=http://localhost:2601

DEPLOY_NAME=test
DEPLOY_HOST=test.test.test.test
DEPLOY_USER=root
DEPLOY_APP_DIR=/home/dkrh/project