APP_ENV=development

BETTER_AUTH_URL=http://localhost:2601
BETTER_AUTH_SECRET=dev-secret

DB_PATH=./dkrh.db

ADMIN_NAME=Administrator
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=VeryStrongPassword123!

VITE_API_URL=http://localhost:2601

DEPLOY_NAME=test
DEPLOY_HOST=test.test.test.test
DEPLOY_USER=root
DEPLOY_APP_DIR=/home/dkrh/project

HONO_DATABASE_URL=postgres://postgres:dewa@localhost:5432/dkrh_hono?sslmode=disable
HONO_API_PORT=2601

GO_DATABASE_URL=postgres://postgres:dewa@localhost:5432/dkrh_go?sslmode=disable
GO_API_PORT=2602

FAST_DATABASE_URL=postgres://postgres:dewa@localhost:5432/dkrh_fast?sslmode=disable
FAST_API_PORT=2603